<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Token" value="MyTokenIsPerfect"/>
    <add key="sEncodingAESKey" value="JpYpI10283X1zdP8v4oqAnoEMHxiRgYwLtqK7wc6RQ5"/>
    <add key="AppID" value="wx873d3a4a3576ba79"/>
    <add key="secret" value="a70582d3e06e89fa456c5179b842180f"/>

    <!--微信JS-SDK专用配置-->
    <add key="SDKDebugger" value="true"/><!--是否启用debugger，正式使用时改为false-->
    <add key="SDKjsApiList" value="'chooseImage','previewImage','uploadImage'111"/>
    <add key="AllowOnlyWechatClient" value="false"/> <!--是否只允许微信访问，正式使用时改为true-->

    
    
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=WeChat;User ID=sa;Password=123456" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
