<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--微信公众号 应用信息-->
    <add key="Token" value="MyTokenIsPerfect"/>
    <add key="sEncodingAESKey" value="JpYpI10283X1zdP8v4oqAnoEMHxiRgYwLtqK7wc6RQ5"/>
    <add key="AppID" value="wx873d3a4a3576ba79"/>
    <add key="secret" value="a70582d3e06e89fa456c5179b842180f"/>
    <!--微信JS-SDK专用配置-->
    <add key="SDKDebugger" value="true"/>
    <!--是否启用debugger，正式使用时改为false-->
    <add key="SDKjsApiList" value="'chooseImage','previewImage','uploadImage'"/>
    <!--是否只允许微信访问，正式使用时改为true-->
    <add key="AllowOnlyWechatClient" value="false"/>
  
    
    <add key="OAuthAppID" value="101287859"/>
    <add key="OAuthAppKey" value="1938c559ff7b37ad1738c779b413eeb0"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=Wangxuhub;User ID=sa;Password=123456"/>
  </connectionStrings>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Content/index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
